<html>
    <head>
  <meta charset="UTF-8">
  <title>Admin Login</title>
  <link rel="stylesheet" href="static/acss.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="bg"></div>

<a href="/returnie">HOME</a>
<form method="post" action="/dashie">
    
  <div class="form-field">
    <input type="email" placeholder="Email ID" name="eid" required/>
  </div>
  
  <div class="form-field">
    <input type="password" placeholder="Password" name="pass" required/>                         </div>
  
  <div class="form-field">
    <input class="btn" type="submit" value="Log in"></input>
  </div>
</form>
<!-- partial -->
  
</body>
</html>
